<h1 mat-dialog-title class="mb-2">Add Project</h1>

<div mat-dialog-content style="height: 100%">
  <form [formGroup]="fg">
    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <input formControlName="name" matInput placeholder="project name">
          <mat-error *ngIf="fg.controls['name'].invalid">Project Name is mandatory</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <input formControlName="code" matInput placeholder="project code">
          <mat-error *ngIf="fg.controls['code'].invalid">Project Code is mandatory</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <tdct-typeahead [source]="usersObservable"
                        tabindex
                        [placeholder]="'project owner'"
                        [control]="fg.controls['owner']"
                        [key]="'name'"
                        formControlName="owner"></tdct-typeahead>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <tdct-typeahead [source]="usersObservable"
                        tabindex
                        [placeholder]="'project manager'"
                        [control]="fg.controls['manager']"
                        [key]="'name'"
                        formControlName="manager"></tdct-typeahead>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <tdct-typeahead [source]="usersObservable"
                        tabindex
                        [multiselect]="true"
                        [placeholder]="'BA team'"
                        [control]="fg.controls['baTeamMembers']"
                        [key]="'name'"
                        formControlName="baTeamMembers"></tdct-typeahead>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <tdct-typeahead [source]="usersObservable"
                        tabindex
                        [multiselect]="true"
                        [placeholder]="'DEV team'"
                        [control]="fg.controls['devTeamMembers']"
                        [key]="'name'"
                        formControlName="devTeamMembers"></tdct-typeahead>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <tdct-typeahead [source]="usersObservable"
                        tabindex
                        [multiselect]="true"
                        [placeholder]="'QA team'"
                        [control]="fg.controls['qaTeamMembers']"
                        [key]="'name'"
                        formControlName="qaTeamMembers"></tdct-typeahead>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <tdct-typeahead [source]="usersObservable"
                        tabindex
                        [multiselect]="true"
                        [placeholder]="'additional team'"
                        [control]="fg.controls['additionalTeamMembers']"
                        [key]="'name'"
                        formControlName="additionalTeamMembers"></tdct-typeahead>
      </div>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="fg.invalid || fg.pristine" (click)="onSave()">Save</button>
</div>

