<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="'side'" class="sidenav">
    <button class="mat-button sidenav-button cursor-pointer"
            [class.opened]="sidenav.opened"
            (click)="sidenav.toggle()">
      <span class="mat-expansion-indicator"></span>
    </button>
    <tdct-app-logo [routerLink]="['dashboard']"></tdct-app-logo>
    <ng-container *ngFor="let item of data">
      <mat-expansion-panel *ngIf="item.items" class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.title}}
          </mat-panel-title>
        </mat-expansion-panel-header>

            <button *ngFor="let subitem of item.items"
                    mat-button
                    class="w-100 text-left"
                    [routerLink]="[subitem.link]">{{subitem.title}}</button>


      </mat-expansion-panel>

    </ng-container>
    <!--<mat-list>-->
      <!--<mat-list-item>-->
        <button mat-button
                class="w-100 text-left"
                (click)="logout()"><i class="fa fa-sign-out"></i> Logout</button>
      <!--</mat-list-item>-->
    <!--</mat-list>-->
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


