<!--<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">-->
  <!--<div>-->
    <!--<ul class="navbar-nav">-->
      <!--<li class="nav-item">-->
        <!--<a class="navbar-brand cursor-pointer" [routerLink]="['']">Home</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link cursor-pointer" [routerLink]="['projects-management']">Projects Management</a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link cursor-pointer" [routerLink]="['business-entities']">Business Entities</a>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
  <!--<a class="cursor-pointer"><i class="fa fa-sign-out"></i> Logout</a>-->
<!--</nav>-->

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="'side'" class="sidenav">
    <button class="mat-button sidenav-button cursor-pointer"
            [class.opened]="sidenav.opened"
            (click)="sidenav.toggle()">
      <span class="mat-expansion-indicator"></span>
    </button>
    <esp-app-logo></esp-app-logo>
    <ng-container *ngFor="let item of data">
      <mat-expansion-panel *ngIf="item.items">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.title}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item *ngFor="let subitem of item.items">
            <button mat-button [routerLink]="[subitem.link]">{{subitem.title}}</button>
          </mat-list-item>
        </mat-list>

      </mat-expansion-panel>
    </ng-container>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


