<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="table-wrapper mat-elevation-z8">
        <mat-table matSort
                   class="w-100"
                   [matSortActive]="defaultSortOrder.active"
                   [matSortDirection]="defaultSortOrder.direction"
                   [dataSource]="data"
                   [matSortDisableClear]="true"
                   (matSortChange)="sortChanged($event)">

          <ng-container *ngFor="let column of COLUMNS" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef>
              <mat-form-field class="table-header-input-wrapper">
                <input matInput
                       ngModel
                       (ngModelChange)="filterChanged(column, $event)"
                       placeholder="{{column[0].toUpperCase() + column.substring(1)}}">
              </mat-form-field>
              <div mat-sort-header class="table-header-sort-button-wrapper"></div>
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="COLUMNS"></mat-header-row>
          <mat-row *matRowDef="let row; columns: COLUMNS;"></mat-row>

        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       [pageSize]="pageSize"
                       [length]="totalElements"
                       (page)="pageChanged($event)"
                       [showFirstLastButtons]="true"></mat-paginator>
      </div>
    </div>
  </div>
</div>
