<form class="form-signin mt-5">
  <label for="login"
         class="sr-only">Login</label>
  <input type="text"
         #login
         id="login"
         class="form-control"
         placeholder="Login">
  <label for="inputPassword"
         class="sr-only">Password</label>
  <input type="password"
         #password
         id="inputPassword"
         class="form-control"
         placeholder="Password">
  <button type="button"
          class="btn btn-lg btn-primary btn-block"
          (click)="logIn(login.value, password.value)">Sign in</button>
</form>
