/* You can add global styles to this file, and also import other style files */
//@import '~bootstrap/scss/bootstrap.scss';
@import '~material-design-icons/iconfont/material-icons.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


@mixin mat-table-columns($columns) {
  .mat-column- {
    @each $colName, $props in $columns {
      $width: map-get($props, 'width');
      &#{$colName} {
        flex: $width;
        min-width: $width;
        @if map-has-key($props, 'color') {
          color: map-get($props, 'color');
        }
      }
    }
  }
}

button:focus {
  outline: 0;
}
.cursor-pointer {
  cursor: pointer;
}

button.fa-button {
  width: 2.5rem;
  min-width: 2.5rem;
}

// TABLE STYLES

.table-header-input-wrapper {
  margin-bottom: -15px;
  width: calc(100% - 3em);
}
.table-header-sort-button-wrapper {
  margin-bottom: -15px;
}
.example-loading-shade {
  position: absolute;
  top: calc(1.5rem + 56px);
  left: 0;
  bottom: calc(1.5rem + 56px + 36px);
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
