/* You can add global styles to this file, and also import other style files */
//@import '~bootstrap/scss/bootstrap.scss';
@import '~material-design-icons/iconfont/material-icons.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

button:focus {
  outline: 0;
}
.cursor-pointer {
  cursor: pointer;
}

// TABLE STYLES

.table-header-input-wrapper {
  margin-bottom: -15px;
  width: calc(100% - 3em);
}
.table-header-sort-button-wrapper {
  margin-bottom: -15px;
}
.example-loading-shade {
  position: absolute;
  top: 56px;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
