<form>
<div tabindex="0" class="typeahead-wrapper">
  <mat-form-field class="example-full-width w-100" [hidden]="hideInput">
    <input
      matInput
      #typeahead
      id="mainInput"
      type="text"
      placeholder="type to search"
      (blur)="onTouchedCallback()"
      (paste)="onPaste(typeahead.value)"
      (input)="onInput(typeahead.value)">
  </mat-form-field>
  <mat-form-field class="w-100" [hidden]="!hideInput">
    <input
      matInput
      [formControl]="fc"
      class="has-clear-button"
      [value]="activeItem ? activeItem.text : ''"
      type="text"
      readonly
      [errorStateMatcher]="errorMatcher"
      [placeholder]="placeholder"
      (click)="inputFocused()">
    <mat-error>Field is mandatory</mat-error>
  </mat-form-field>
  <button [hidden]="!hideInput || disabled || !activeItem" class="close clear-button" type="button" (click)="clearSelection()">×</button>
  <ul *ngIf="showOptions && options && options.length" class="dropdown-menu">
    <li *ngFor="let o of options | sortByField : 'text'">
      <div class="ui-select-choices-row"
           [ngClass]="{'active': activeItem && o.id === activeItem.id}"
           (click)="selectMatch(o)">
        <a href="javascript:void(0)" class="dropdown-item">
          <div [innerHtml]="sanitize(o.text | highlight : typeahead.value)"></div>
        </a>
      </div>
    </li>
  </ul>
</div>
</form>
