<div tabindex="-1" class="typeahead-wrapper">
  <form>
    <mat-form-field class="example-full-width w-100" [hidden]="hideInput">
      <input
        matInput
        #typeahead
        type="text"
        placeholder="type to search"
        tabindex="-1"
        (blur)="onBlur()"
        (paste)="onPaste(typeahead.value)"
        (input)="onInput(typeahead.value)">
    </mat-form-field>
    <mat-form-field class="w-100" [hidden]="!hideInput">
      <input
        matInput
        [formControl]="fc"
        class="has-clear-button"
        [value]="_activeItem && _activeItem[key] ? _activeItem[key] : ''"
        type="text"
        readonly
        tabindex="-1"
        [errorStateMatcher]="errorMatcher"
        [placeholder]="placeholder"
        (click)="inputFocused()">
      <mat-error>Field is mandatory</mat-error>
    </mat-form-field>
  </form>
  <button [hidden]="!hideInput || disabled || !_activeItem"
          class="close clear-button"
          type="button"
          (click)="clearSelection()">×</button>
  <ul *ngIf="showOptions && options && options.length" class="dropdown-menu">
    <li *ngFor="let o of options | excludeListItems : activeItems | sortByField : key">
      <div class="ui-select-choices-row"
           [ngClass]="{'active': multiselect && _activeItem && o.id === _activeItem.id}"
           (click)="selectMatch(o)">
        <a href="javascript:void(0)" class="dropdown-item">
          <div [innerHtml]="sanitize(o[key] | highlight : typeahead.value)"></div>
        </a>
      </div>
    </li>
  </ul>
  <mat-chip-list *ngIf="multiselect" [selectable]="false">
    <mat-chip *ngFor="let item of activeItems"
              [disableRipple]="true"
              selected
              color="primary"
              (removed)="exclude(item)"
              [removable]="true">{{item[key]}}<mat-icon matChipRemove>cancel</mat-icon></mat-chip>
  </mat-chip-list>
</div>


